.containerHome{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundTransparent{
    height: 80vh;
    width: 85vw;
    background: rgba(255, 255, 255, 0.7);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: white;

    padding: 10px;
}

.header img{
    height: 100px;
    width: 100px;
}

.header h1{
    font-size: 40px;
    color: #3b3b48;
    font-weight: 400;
}

.modal-add{
    display: flex;
    justify-content: center;
}

.add-album{
    width: 20%;
    padding: 5px;
    margin-top: 15px;



    background-color: blue;

    border-radius: 25px;
    border: none;

    color: white;
    font-size: 20px;

    cursor: pointer;
}

.search{
    padding: 10px;
}

.searchFlex{
    display: flex;
}

.searchFlex input{
    width: 75%;
    height: 35px;
    border: none;
    border-radius: 25px;
    padding: 15px;
}

.searchFlex button{
    width: 20%;
    margin-left: 10px;

    background-color: blue;

    border-radius: 25px;
    border: none;

    color: white;
    font-size: 20px;

    cursor: pointer;
}

.table-album{
    margin-left: 20px;
}

.table-album h2{
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 15px;
}

table{
    margin-left: 20px;
}

table th{
    text-align: left;
    padding-right: 50px;
}

table td{
    padding-right: 50px;
    padding-top: 10px;
}

